*{ padding:0;margin:0;}
body,html{ font-family:'Microsoft YaHei';}
.cont{ width:1200px;margin:20px auto;padding:5px;}
.cont .cont-message{ width:100%;}
.cont .cont-message div span{ }
.cont .cont-message div{ overflow:hidden;width:600px;margin:30px auto;}
.cont .cont-message div #classify_id,#article_name,#article_head,#article_description{ float:right;margin-right:200px;width:150px;height:25px;text-indent:10px;}
.cont .cont-message div #classify_id{ width:154px;}
.cont .cont-main{ width:1000px;margin:30px auto;}
.cont .cont-main #article_content{ width:800px;height:600px;display:block;margin:0 auto;overflow-x:hidden;padding:10px;resize:none;box-shadow:0 0 10px #ddd inset;outline:none;}
.cont .cont-main .commit a{ user-select:none;cursor:pointer;display:block;width:200px;height:60px;margin:20px auto;background:#1b9ddc;color:#e4e4e4;border:1px solid #1b9ddc;border-radius:5px;box-shadow:0 0 3px #1b9ddc;text-align:center;line-height:60px;transition:0.3s;}
.cont .cont-main .commit a:hover{ width:300px;box-shadow:0 0 15px #0d4e6c;}
.cont .ad{ position:fixed;top:50%;transform:translateY(-50%);right:20px;background:#ddd;width:150px;height:300px;padding:5px;}
.cont .ad a{ cursor:pointer;position:absolute;bottom:0;left:0;display:block;width:100%;height:15px;font-size:13px;text-align:center;line-height:15px;background:#a0a0a0;}